body {
    --main-background-color: black;
    --main-font-color: black;
    --hover-color: rgb(255, 255, 176);
    --global-border-radius: 15px;
    background-color: rgb(227, 227, 227);
}

header {
    position: fixed;
    background-color: var(--main-background-color);
    color: white;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    z-index: 100;
}

h4 {
    display: inline;
    padding-right: 10%;
    float: right;
    margin: auto 0;
}

h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding-right: 15%;
    padding-left: 10%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 500%;
    font-weight: bold;
    letter-spacing: 10px;
    white-space: nowrap;
    flex: 1;
    padding-top: 10%;
}

.photoGrid {
    flex: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1%;
    column-gap: 3%;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 25%;
    padding-left: 10%;
    border-top: 3px solid var(--main-background-color);
}

.photoContainer {
    border: 3px solid var(--main-background-color);
    margin: auto 0;
    padding: 10px;
    border-radius: var(--global-border-radius);
    transition: box-shadow 0.5s, background-color 0.5s;
}

.photoContainer:hover {
    box-shadow: 15px 15px 25px rgba(2, 2, 2, 0.509);
    cursor: pointer;
}

.yogha {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--global-border-radius);
}

footer {
    background-color: var(--main-background-color);
    width: 100%;
    flex: 1;
}

@media (max-width: 720px) {
    .photoGrid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 721px) and (max-width: 1200px) {
    .photoGrid {
        grid-template-columns: 1fr 1fr;
    }
}

#contact {

}